@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: white;
    min-height: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-container{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

img{
    width: 100%;
    display: block;
}